<div class="breadcrumb mb-0 mx-0">
  <span> <a href="<%= root_path%>"> Accueil </a> >
    <%= @edition.description %> <%= @edition.date.strftime('%d/%m/%Y') %>
  </span>
</div>



<div class="row mx-0">
  <div class="col-md-2 bg-primary p-5">
	  <%= render 'layouts/sidebar' %>
  </div>

	<div class="col-md-10 px-10">

		<div class="row justify-content-center mt-5 mb-5">
			<div class="col-md-7 text-center">
				<h2 class="text-primary font-bold">Modifier une édition</h2>
				<%= image_tag("svg/3colors.svg") %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 pl-0">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>