<div class="breadcrumb mb-0">
  <span> <a href="<%= root_path%>"> Accueil </a> >
  <%= @edition.event.name %> >
  </span>
  <b> <%= @edition.date.strftime('%d/%m/%Y') %> </b>
</div>



<div class="row">
  <div class="col-md-2 bg-primary p-0">
    <ul class="list-unstyled">
      <li>
        <a href="<%= home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %>" class="<%= active_btn_class( home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %> <%= active_btn_class( home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>" >
          Descriptif
        </a>
        <% if current_page?( home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>
          <ul class="">
            <li><%= link_to "Dashboard", home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
          </ul>
        <% end %>
      </li>

      <li>
      <%= link_to "Photos", new_event_edition_photo_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %>
        <ul class="list-unstyled">
          <li><%= link_to "Importation", new_event_edition_photo_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id])%></li>
          <li><%= link_to "Voir photo", event_edition_photos_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( event_edition_photos_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
        </ul>
      </li>




      <li>
        <a href="<%= contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %>" class="<%= active_btn_class( contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %> <%= active_btn_class( event_edition_contacts_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>" >
          
          Contacts
        </a>
        <% if current_page?( contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) ||
              current_page?( event_edition_contacts_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>
          <ul class="list-unstyled">
            <li><%= link_to "Contacts", contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
            <li><%= link_to "Listes", event_edition_contacts_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( event_edition_contacts_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
          </ul>
        <% end %>
      </li>

      <li>
        <a href="<%= new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %>" class="<%= active_btn_class( new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %> <%= active_btn_class( event_campaigns_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>" >
          
          Campagnes
        </a>
        <% if current_page?( new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) ||
              current_page?( event_campaigns_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %>
          <ul class="list-unstyled">
            <li><%= link_to "Campagnes", new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
            <li><%= link_to "Listes", event_campaigns_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]), class: active_btn_class( event_campaigns_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) ) %></li>
          </ul>
        <% end %>
      </li>

      <li>
        <a href="#">
          
          Paraméters
        </a>
      </li>

    </ul>
  </div>

  <div class="col-md-10">

    <div class="row justify-content-center mt-5 mb-5">
       <div class="col-md-7 text-center">
        <h2 class="text-primary font-bold"> <%= @edition.event.name %> - <%= @edition.date.strftime('%d/%m/%Y') %>  </h2>
        <%= image_tag("3colors.svg") %>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">

      
        <div class="row bg-blue mb-3 mx-1">
          <div class="col-1 col-md-1 pt-4">
            <%= image_tag('descriptif.svg') %>
          </div>

          <div class="col-10 col-md-10 padtop">
            <% if @edition.blank? %>
              <p>Il n'y pas encore d'édition créée pour cet évènement</p>
            <% else %>
              <h2 class="font-condensed">DESCRIPTIF</h2>
              <p class="font-book text-primary"> <%= @edition.date.strftime('%d/%m/%Y') %></p>
              <p class="font-book text-primary"><%= @edition.races.pluck(:race_type).join(', ') %> </p>
              <p class="font-book text-primary"> <%= @edition.races.pluck(:name).join(', ') %> </p>

              <% if @edition.date >= Date.current %>
                <div class="courseStatus inProgress">EN COURS DE TRAITEMENT</div>
              <% else %>
                <a href="#" class="btn btn-primary mr-md-4 py-3 px-5 my-3 font-light font-15px">Traiter <span class="ion-ios-arrow-forward"></span></a>
              <% end %>
            <% end %>
          </div>

          <div class="col-1 col-md-1 pl-1 pr-3 pt-4">
            <%= link_to(image_tag("edit.svg"), edit_event_edition_path(@edition.event.id, @edition.id) ) %>
          </div>
        </div>







        <div class="row bg-primary mx-1">
          <h2 class="courseDate">
            PHOTOS
              <%= link_to(image_tag("editIcon.png", width: 15, height: 15), new_event_picture_path( params[:event_id], params[:id] ) ) %>
          </h2>
          <br>
          <ul class="list-inline statisticsCourse">
            <li>
              <span class="coursePhotos"> <%= @edition.pictures.all.count %> </span> <br>
              PHOTOS
            </li>
            <li class="middleList">
              <span class="courseContacts"> <%= @edition.contacts.all.count %> </span> <br>
              CONTACTS
            </li>
            <li>
              <span class="courseCampagnes"> <%= @edition.campaigns.all.count %> </span> <br>
              CAMPAGNES
            </li>
          </ul>
        </div>

      </div>


      <div class="col-md-6 pl-0">

        <div class="col-md-12 bg-yellow">
          <h2 class="">
            CONTACTS
            <%= link_to(image_tag("editIcon.png", width: 15, height: 15), contacts_picto_edition_event_edition_path( params[:event_id], params[:id] ) ) %>
          </h2>
          <br>
          <ul class="list-inline statisticsCourse">
            <li  class="rightList">
              <span class="coursePhotos"><%= @totalContacts %></span> <br>
              CONTACTS <br> IMPORTES
            </li>
            <li class="rightList">
              <span class="courseContacts"><%= @totalContactsWithEmail %></span> <br>
              CONTACTS <br> AVEC EMAIL
            </li>
            <li class="rightList">
              <span class="courseCampagnes"><%= @totalContactsWithSMS %></span> <br>
              CONTACTS <br> AVEC SMS
            </li>
            <li>
              <span class="courseCampagnes">1090</span> <br>
              RESULTATS <br> OFFICIELS
            </li>
          </ul>
        </div>

        <div class="col-md-12 bg-lightblue">
          <h2 class="courseDate">
            CAMPAGNES
            <a href="#">
              <%= link_to(image_tag("editIcon.png", width: 15, height: 15), "#" ) %>
            </a>
          </h2>
          <div class="row contactsRow">
            <!-- Table -->
            <br/>
            <table class="table">
              <thead>
                <tr>
                  <th> Nom des campagnes </th>
                  <th> Date </th>
                  <th> Statue </th>
                </tr>
              </thead>
              <tbody ng-model="vm.id">
                <tr ng-repeat="c in vm.allCampaigns | orderBy:'attributes.created_at':true | limitTo: vm.perPage : (vm.curentPage -1) * vm.perPage | filter:vm.searchCampaign">
                  <td> {{ c.attributes.custom_value }}  </td>
                  <td> {{ c.attributes.created_at  | date:"dd/MM/yyyy"  }} </span> </td>
                  <td> traité </span> </td>
                </tr>
              </tbody>
            </table>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn btn-previous-pag" ng-click="vm.previousCampaign()"> < </a> 
                    {{vm.curentPage}}/{{vm.numberCampaignPagination}}
                <a href="#" class="btn btn-next-pag"  ng-click="vm.nextCampaign()"> > </a> 
              </li>
              <li>
                <select ng-model="vm.perPage"
                    ng-options="p for p in vm.perPageArr">
                </select> 
                <span> Campagne par page </span>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
