<div class="breadcrumb mb-0 mx-0">
  <span> <a href="<%= root_path%>"> Accueil </a> >
  <%= @edition.event.name %> >
  </span>
  <b> <%= @edition.date.strftime('%d/%m/%Y') %> </b>
</div>



<div class="row h-100 mx-0">

  <div class="col-md-2 bg-primary p-5">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-10">

    <div class="row justify-content-center mt-5 mb-5">
       <div class="col-md-7 text-center">
        <h2 class="text-primary font-bold"> <%= @edition.event.name %> - <%= @edition.date.strftime('%d/%m/%Y') %>  </h2>
        <%= image_tag("svg/3colors.svg") %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="row bg-blue mb-3 mx-1">
          <div class="col-1 col-md-1 pt-4">
            <%= image_tag('svg/descriptif.svg') %>
          </div>

          <div class="col-10 col-md-10 padtop">
            <% if @edition.blank? %>
              <p>Il n'y pas encore d'édition créée pour cet évènement</p>
            <% else %>
              <h2 class="font-condensed">DESCRIPTIF</h2>
              <p class="font-book text-primary"> <%= @edition.date.strftime('%d/%m/%Y') %></p>
              <p class="font-book text-primary"><%= @edition.races.pluck(:race_type).join(', ') %> </p>
              <p class="font-book text-primary"> <%= @edition.races.pluck(:name).join(', ') %> </p>

              <% if @edition.date >= Date.current %>
                <div class="courseStatus inProgress">EN COURS DE TRAITEMENT</div>
              <% else %>
                <a href="#" class="btn btn-primary mr-md-4 py-3 px-5 my-3 font-light font-15px">Traiter <span class="ion-ios-arrow-forward"></span></a>
              <% end %>
            <% end %>
          </div>

          <div class="col-1 col-md-1 pl-1 pr-3 pt-4">
            <%= link_to(image_tag("svg/edit.svg"), edit_event_edition_path(@edition.event.id, @edition.id) ) %>
          </div>
        </div>

        <div class="row bg-primary mb-3 mx-1">
          <div class="col-1 col-md-1 pt-4">
            <%= image_tag('svg/focus_white.svg') %>
          </div>

          <div class="col-10 col-md-10 padtop">
            <h2 class="font-condensed text-white">PHOTOS</h2>

            <table class="table table-bordered mb-5">
              <tbody>
                <tr>
                  <td>
                    <span class="text-white font-futura"> <%= @edition.pictures.all.count %> </span><br>
                    <span class="text-white font-light">PHOTOS</span>
                  </td>
                  <td>
                    <span class="text-white font-futura"> <%= @edition.contacts.all.count %> </span><br>
                    <span class="text-white font-light">CONTACTS</span>                      
                  </td>
                  <td>
                    <span class="text-white font-futura"> <%= @edition.campaigns.all.count %> </span><br>
                    <span class="text-white font-light">CAMPAGNES</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-1 col-md-1 pl-1 pr-3 pt-4">
            <%= link_to(image_tag("svg/white_edit.svg"), edit_event_edition_path(@edition.event.id, @edition.id)) %>
          </div>
        </div>

      </div>


      <div class="col-md-6 pl-0">


        <div class="row bg-yellow mb-3 mx-1">
          <div class="col-1 col-md-1 pt-4">
            <%= image_tag('svg/contact.svg') %>
          </div>

          <div class="col-10 col-md-10 padtop">
            <h2 class="font-condensed text-primary">CONTACTS</h2>

            <table class="table table-bordered mb-5">
              <tbody>
                <tr>
                  <td class="border-primary">
                    <span class="text-primary font-futura"> <%= @totalContacts %> </span><br>
                    <span class="text-primary font-light">CONTACTS IMPORTÉS</span>
                  </td>
                  <td class="border-primary">
                    <span class="text-primary font-futura"> <%= @totalContactsWithEmail %> </span><br>
                    <span class="text-primary font-light">CONTACTS AVEC EMAIL</span>                      
                  </td>
                  <td class="border-primary">
                    <span class="text-primary font-futura"> <%= @totalContactsWithSMS %> </span><br>
                    <span class="text-primary font-light">CAMPAGNES AVEC SMS</span>
                  </td>
                  <td class="border-primary">
                    <span class="text-primary font-futura"> 1090 </span><br>
                    <span class="text-primary font-light">RÉSULTATS OFFICIELS</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-1 col-md-1 pl-1 pr-3 pt-4">
            <%= link_to(image_tag("svg/edit.svg"), edit_event_edition_path(@edition.event.id, @edition.id)) %>
          </div>
        </div>

        <div class="row bg-lightblue mb-3 mx-1">
          <div class="col-1 col-md-1 pt-4">
            <%= image_tag('svg/email.svg') %>
          </div>

          <div class="col-10 col-md-10 padtop">
            <h2 class="font-condensed text-primary">CAMPAGNES</h2>

            <table class="table table-striped mb-5 table-borderless">

              <thead>
                <tr class="bg-blue text-white font-light">
                  <th colspan="1">Nom des campagnes</th>
                  <th colspan="1">Dates</th>
                  <th colspan="1">Status</th>
                </tr>
              </thead>

              <tbody class="text-primary font-condensed">
                <tr>
                  <td class="border-primary">Camp-21</td>
                  <td class="border-primary">14/11/2020</td>
                  <td class="border-primary">Traité</td>
                </tr>
                <tr>
                  <td class="border-primary">Campaign12345</td>
                  <td class="border-primary">19/06/2020</td>
                  <td class="border-primary">Traité</td>
                </tr>
                <tr>
                  <td class="border-primary">Campaign1234</td>
                  <td class="border-primary">19/06/2020</td>
                  <td class="border-primary">Traité</td>
                </tr>
              </tbody>

              <tfoot class="bg-white text-primary font-futura">
                <tr>
                  <td>
                    <select name="" id="" class="">
                      <option value="">5</option>
                      <option value="">10</option>
                      <option value="">15</option>
                      <option value="">20</option>
                      <option value="">30</option>
                      <option value="">50</option>
                      <option value="">100</option>
                    </select>
                    Campagnes par pages
                  </td>
                  <td colspan="2"><1/1></td>
                </tr>
              </tfoot>

            </table>
          </div>

          <div class="col-1 col-md-1 pl-1 pr-3 pt-4">
            <%= link_to(image_tag("svg/edit.svg"), edit_event_edition_path(@edition.event.id, @edition.id)) %>
          </div>
        </div>






        <div class="col-md-12 bg-lightblue">
          <h2 class="courseDate">
            CAMPAGNES
            <a href="#">
              <%= link_to(image_tag("editIcon.png", width: 15, height: 15), "#" ) %>
            </a>
          </h2>
          <div class="row contactsRow">
            <!-- Table -->
            <br/>
            <table class="table">
              <thead>
                <tr>
                  <th> Nom des campagnes </th>
                  <th> Date </th>
                  <th> Statue </th>
                </tr>
              </thead>
              <tbody ng-model="vm.id">
                <tr ng-repeat="c in vm.allCampaigns | orderBy:'attributes.created_at':true | limitTo: vm.perPage : (vm.curentPage -1) * vm.perPage | filter:vm.searchCampaign">
                  <td> {{ c.attributes.custom_value }}  </td>
                  <td> {{ c.attributes.created_at  | date:"dd/MM/yyyy"  }} </span> </td>
                  <td> traité </span> </td>
                </tr>
              </tbody>
            </table>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn btn-previous-pag" ng-click="vm.previousCampaign()"> < </a> 
                    {{vm.curentPage}}/{{vm.numberCampaignPagination}}
                <a href="#" class="btn btn-next-pag"  ng-click="vm.nextCampaign()"> > </a> 
              </li>
              <li>
                <select ng-model="vm.perPage"
                    ng-options="p for p in vm.perPageArr">
                </select> 
                <span> Campagne par page </span>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
<%= javascript_include_tag 'template/jquery-3.2.1.min', 'data-turbolinks-track' => true %>

<script>
  function showMenuItems() {
    $("li[data-target='#descriptif']").removeClass("collapsed")
    $("#descriptif").addClass("show")
    $("#dashboard").addClass("active")
  }
  showMenuItems();
</script>