<div class="col-md-4 d-flex ftco-animate">
  <div class="blog-entry align-self-stretch bg-primary">
  
    <div class="row">
        <%= event.id %>
    <% if event.homepage_photos.size > 3 %>

      <div class="col-8" style="padding-right: 0px;">
        <div class="container_first_card_img">
          <%= image_tag(event.homepage_photos[rand(event.homepage_photos.size)], class:"first_card_img") %>
        </div>
      </div>

      <div class="col-4" style="padding-left: 0px;">
        <div class="container_second_card_img">
          <%= image_tag(event.homepage_photos[rand(event.homepage_photos.size)], class:"second_card_img") %>
        </div>
        <div class="container_second_card_img">
          <%= image_tag(event.homepage_photos[rand(event.homepage_photos.size)], class:"second_card_img") %>
        </div>
      </div>

    <% else %>
      <div class="col-12">
        <div class="container_card_img_top">
          <img class="card-img-top" src="<%= asset_path('card_img_top.png') %>" alt="Card image cap">
        </div>
      </div>
    <% end %>

    </div>


    <div class="media-body p-4">
      <h3 class="heading"><%= link_to event.name, home_picto_event_path(event), class:"text-white" %></h3>
      <p class="text-secondary font-weight-light"><%= event.place %></p>
    </div>
    <div class="text p-4">



      <% if event.editions.blank? %>
        <p>Il n'y pas encore d'édition créée pour cet évènement</p>
      <% else %>

      <div class="row">
        <% event.editions.each do |edition| %>
        <div class="col-6">
          <a href="<%= home_picto_edition_event_edition_path(event_id: edition.event.id, edition_id: edition.id, id: edition.id) %>" class="btn btn-secondary text-white text-left">
            <%= edition.date.strftime('%e %b %Y') %><br> <!-- To clear when routes will be cleaned" -->
            <%= edition.races.pluck(:race_type).join(', ') %> <!-- edition.races.pluck(:name).join(', ') -->
            <span class="ion-ios-arrow-forward"></span>
          </a>
        </div>
        <% end %>
      </div>

      <% end %>

    </div>
  </div>
</div>