<%= stylesheet_link_tag 'template/dataTables.bootstrap4.min.css', media: 'all', 'data-turbolinks-track' => true %>
<%#= stylesheet_link_tag 'template/datatables.css', media: 'all', 'data-turbolinks-track' => true %>

<div class="breadcrumb mb-0 mx-0">
  <span> <a href="<%= root_path%>"> Accueil </a> >
  <%= @edition.event.name %> >
  <%= @edition.date.strftime('%d/%m/%Y') %> >
  Contact > 
  Résultats
  </span>
</div>

<div class="row mx-0">
  <div class="col-md-2 bg-primary p-5">
	<%= render 'layouts/sidebar' %>
  </div>

	<div class="col-md-10 px-10">

		<div class="row justify-content-center mt-5 mb-5">
			<div class="col-md-7 text-center">
				<h2 class="text-primary font-bold">Contacts Enregistrés</h2>
				<%= image_tag("svg/3colors.svg") %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 pl-0">

				<div class="row bg-primary py-3">
					<div class="col-md-3 w-100">
						<div class="row h-100 py-3 pl-3">
							<input type="text" class="font-futura font-15px text-primary w-100" ng-model="vm.searchContact" placeholder="Rechercher un contact">
						</div>
					</div>
					<div class="col-md-3 w-100">
						<div class="row h-100 py-3">
							<table class="h-100">
								<tbody class="">
									<tr>
										<td class=""><%= link_to(root_path, class:"mx-2") do %><%= image_tag("svg/letter_white.svg", class:"align-middle", alt: "Email envoyer") %><% end %></td>
										<td class=""><%= link_to(root_path, class:"mx-2") do %><%= image_tag("svg/eye_white.svg", class:"align-middle", alt: "Deja vu") %><% end %></td>
										<td class=""><%= link_to(root_path, class:"mx-2") do %><%= image_tag("svg/alert_white.svg", class:"align-middle", alt: "erreur survenue") %><% end %></td>
										<td class=""><%= link_to(root_path, class:"mx-2") do %><%= image_tag("svg/focus_white.svg", class:"align-middle", alt: "SMS envoyer") %><% end %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row h-100 py-2 pl-3">

								<%= link_to(new_event_campaign_path( params[:event_id], params[:edition_id] ), class: 'btn bg-blue text-white font-light font-10px mx-1',  id: 'newCamp') do %>
									<%= image_tag('svg/opened_letter_white.svg') %>
									Nouvelle Campagne
								<% end %>

								<%= link_to(new_event_campaign_path( params[:event_id], params[:edition_id] ), class: 'btn bg-yellow text-white font-light font-10px mx-1',  id: 'newCamp') do %>
									<%= image_tag('svg/contact.svg', height: '19px') %>
									Importer des contacts
								<% end %>
								
						</div>
					</div>
				</div>


        <div class="row bg-lightblue mb-3">
          <div class="col-md-12 padtop">
						<table id="datatable" class="table table-hover mb-5 table-borderless">
							<thead>
                <tr class="bg-blue text-white font-light">
                  <th class=" align-middle" colspan="1">Nom & Prénom</th>
                  <th class=" align-middle" colspan="1">Photo</th>
                  <th class=" align-middle" colspan="1">Email</th>
									<th class=" align-middle" colspan="1">Numéro de Téléphone</th>
									<th class=" align-middle" colspan="1">Numéro de Dossard</th>
                </tr>
							</thead>

							<% @edition.contacts.each do |contact| %>
              <tbody class="text-primary font-condensed">
                <tr>
                  <td class="border-primary">Brone Ophélia</td>
                  <td class="border-primary">Photo 15</td>
                  <td class="border-primary">xxx@gmail.com</td>
									<td class="border-primary">00 00 00 00 00</td>
									<td class="border-primary">5000</td>
                </tr>
                <tr>
                  <td class="border-primary"><%= contact.nom %> <%= contact.prenom %></td>
                  <td class="border-primary">Photo 15</td>
                  <td class="border-primary"><%= contact.email %></td>
									<td class="border-primary"><%= contact.telephone %></td>
									<td class="border-primary"><%= contact.dossard %></td>
                </tr>
              </tbody>
							<% end %>

              <tfoot class="bg-white text-primary font-light font-15px">
                <tr>
                  <td>
                    <select name="" id="" class="">
                      <option value="">5</option>
                      <option value="">10</option>
                      <option value="">15</option>
                      <option value="">20</option>
                      <option value="">30</option>
                      <option value="">50</option>
                      <option value="">100</option>
                    </select>
                    Campagnes par pages
                  </td>
                  <td colspan="4"><1/1></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
		</div>
</div>



<%= javascript_include_tag 'template/jquery-3.5.1.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'template/jquery.dataTables.min.js', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'template/dataTables.bootstrap4.min.js', 'data-turbolinks-track' => true  %>
<%#= javascript_include_tag 'template/datatables.js', 'data-turbolinks-track' => true %>
<%#= render partial: "helpers/datatables_fullfledged", locals: {table_id: "#datatable", options_for_datatable: nil} %>

<script>
  function showMenuItems() {
    $("li[data-target='#contact']").removeClass("collapsed")
    $("#contact").addClass("show")
		$('#liste').addClass('active')
  }
  showMenuItems();

	$(document).ready(function() {
		//$('#datatable').DataTable(
			// {"searching": false}
		//);
	});
</script>


