<%#= form_for( event_pictures_path( params[:event_id], params[:id] ) ) do |f| %>
<%= form_for([@edition, @photo], url: {action: "create"}, method: :post ) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :edition_id, value: @edition.id %>
    <%= f.file_field :image, multiple: true, id: "selectedPhotos", style: "display:none" %>
    <a class="btn btn-import" id="process" onclick="document.getElementById('selectedPhotos').click();">Sélectionnez vos photos a importer</a>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







