<div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated">
  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <%= image_tag photo.image, class: 'card-img-top', alt: 'photo' %>
    <div class="card-body">
      <% unless [:not_paired, :invalid_bib].include? photo.runner %>
      <h5 class="card-title">
        <p class="font-condensed text-white"><%= photo.runner.prenom %></p>
        <p class="font-condensed text-white"><%= photo.runner.nom %></p>
      </h5>
      <% else %>
        <p class="card-text">Dossard introuvable pour cette course</p>
      <% end %>
      
      <%= form_with(model: photo, url: event_edition_photo_path(@event, @edition, photo.id), method: "put") do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :bib, class:'form-control', placeholder: "Indiquez le n° de dossard" %>
          </div>
        </div>
        <%= f.submit "Enregistrer", class: 'btn btn-primary'%>
      <% end %>
      <%= link_to 'Supprimer', event_edition_photo_path(@event, @edition, photo), class: 'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sûr(e)' }%>
    </div>
  </div>
</div>
