<div>
  <% flash.to_hash.except!("photo_errors").each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %> 
    </div>
  <% end %>
</div>

<% if flash[:photo_errors] %>
<div>
  <% flash[:photo_errors].each do |key, value| %>
    <div class="alert alert-alert"> Le <%= t("activerecord.attributes.photo.#{key}") %> <%= value.to_s.gsub(/\"/, '').gsub(/[\[\]]/, '') %> </div>
  <% end %>
</div>
<% end %>

<div class="container photos">
  <div class="row">
    <div class="col-sm-4">
      <h1> Photos </h1>
    </div>
    <div class="col-sm-4">
      <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <%= link_to "Retour", event_edition_path(@edition.id, event_id: @event.id), class: 'btn btn-default pull-right' %>
      </div>
    </div>
  </div>

  <%= form_tag event_edition_path(@edition.id, event_id: @event.id), method: :get do %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'Photos non reconnues ?' %>
          <%= check_box_tag :without_bib, true, params[:without_bib], class: 'bootstrap-switch' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'Courses' %>
          <%= select_tag :race_ids, options_from_collection_for_select(@edition.races, :id, :name, params[:race_ids]), multiple: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'Sexe' %>
          <%= select_tag :sex, options_for_select([['Masculin', 'M'], ['Féminin', 'F']], params[:sex]), multiple: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag 'Catégorie' %>
          <%= select_tag :categ, options_for_select(@edition.results.order(:categ).pluck(:categ).uniq, params[:categ]), multiple: true, class: 'form-control' %>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= submit_tag 'Filtrer', class: 'btn-primary btn-group-justified' %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @photos.any? %>
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Supprimer toutes les photos', destroy_all_event_edition_photos_path(event_id: @event.id, edition_id: @edition.id, photo_ids: @photos.pluck(:id)), method: :delete, class: 'btn btn-danger', data: { confirm: 'Êtes vous SÛR(E) de vouloir supprimer TOUTES les photos de cette recherche ?' } %>
      </div>
    </div>

    <hr>

    <% @photos.each_slice(4) do |photos| %>
      <div class="row">
        <% photos.each do |photo| %>
          <div class="col-sm-3">
            <%= render 'photo', photo: photo %>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <p class="text-center"> Aucun résultat </p>
        </div>
      </div>
    </div>
  <% end %>
