<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-primary ftco-navbar-light" id="ftco-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="<%= root_path %>">
			<%= image_tag("logo.svg") %>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="ml-3">
					<%= link_to(root_path) do %>
						<%= image_tag('bell.svg') %>
					<% end %>
				</li>
				<li class="ml-3">
					<%= link_to(root_path) do %>
						<%= image_tag('bell.svg') %>
					<% end %>
				</li>
			</ul>
		</div>
	
	</div>
</nav>
<!-- END nav -->