<div class="nav-side-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#descriptif" class="collapsed active" data-level="first-level-item">
        <a href="#" class="font-condensed font-25px">Descriptif</a>
      </li>
      <ul class="sub-menu collapse" id="descriptif">
        <li class="font-light font-15px" id="dashboard"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Dashboard", home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
        <li class="font-light font-15px" id="autre_categorie"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Autre catégorie", home_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>

      </ul>
    </ul>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#photo" class="collapsed active" data-level="first-level-item">
        <a href="#" class="font-condensed font-25px">Photos</a>
      </li>
      <ul class="sub-menu collapse" id="photo">
        <li class="font-light font-15px" id="importation"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Importation", new_event_edition_photo_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id])%></li>
        <li class="font-light font-15px" id="voir_photo"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Voir photo", event_edition_photos_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
      </ul>
    </ul>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#contact" class="collapsed active" data-level="first-level-item">
        <a href="#" class="font-condensed font-25px">Contacts</a>
      </li>
      <ul class="sub-menu collapse" id="contact">
        <li class="font-light font-15px" id="importer"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Importer", contacts_picto_edition_event_edition_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
        <li class="font-light font-15px" id="liste"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Liste", event_edition_contacts_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
      </ul>
    </ul>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#paramètre" class="collapsed active" data-level="first-level-item">
        <a href="#" class="font-condensed font-25px">Campagnes</a>
      </li>
      <ul class="sub-menu collapse" id="paramètre">
        <li class="font-light font-15px" id="campagnes"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Campagnes", new_event_campaign_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
        <li class="font-light font-15px" id="listes"><%= image_tag('svg/right_arrow.svg',  width: "10px") %>  <%= link_to "Listes", event_campaigns_path(event_id: params[:event_id], edition_id: params[:edition_id], id: params[:edition_id]) %></li>
      </ul>
    </ul>
  </div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="" class="collapsed active" data-level="first-level-item">
        <a href="#" class="font-condensed font-25px">Paramètres</a>
      </li>
    </ul>
  </div>
</div>