<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Kapp10 - FreshStart
    </title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <%= csrf_meta_tags %>
  </head>


  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navbar' %>

      <div class="container-fluid px-0">
        <%= yield %>
      </div>

    <%#= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>

</html>
